# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*.iml
.idea/
graal.instrumented.jar
*.class
graal_dumps/
dumps/
graal/
mx/
PLuG/
scratch/
__pycache__
dump-browser.conf
dump-browser.pid
